* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#beda81;
  animation: fadein 2s;
}

header {
  background: #fff ;
  border: 1px solid #39011e;
  box-shadow: 2px 2px #39011e;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

header > h1 {
  font-family: Jersey;
  text-align: center;
  font-size: 4.5rem;
  color: #39011e;
}

.pontuacao-usuario {
  padding: 20px;
  margin: 70px auto;
  width: 200px;
  background: #39011e;
  color: #fff ;
  font-size: 3rem;
  font-family: Jersey;
  text-align: center;
  position: relative;
}

.competidores {
  background: #fff;
  border: 1px solid #39011e;
  box-shadow: 2px 2px #39011e;
  color: #39011e;
  font-size: 1.5rem;
  padding: 2px 10px;
}

.resultado {
  font-size: 3rem;
  padding: 20px;
  margin: 50px 50px ;
  text-align: center;
}

.resultado > p {
  font-family: Jersey;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #39011e; 
  text-shadow: 2px 2px #39011e;
}

.escolhas {
  margin: 50px 0;
  text-align: center;
}

.escolha {
  display: inline-block;
}

.escolha > img {
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: 0.2s; 
  border-radius: 70px;
}

.escolha > img:hover {
  cursor: pointer !important;
  background: #a7d24b;
  border-radius: 150px;
  animation: pular 0.6s infinite ease-in-out;
}
  

#user-label {
  position: absolute;
  top: 30px;
  left: -75px;
}

#pc-label {
  position: absolute;
  top: 30px;
  right: -135px;
}

#messagem {
  text-align: center;
  font-family: Jersey;
  font-size: 2rem;
  background: #fff;
  width: 200px;
  border: 1px solid #39011e;
  box-shadow: 2px 2px #39011e;
  color: #39011e;
  margin: 20px auto; 
  display: block;
  cursor: pointer !important;
  transition: transform .2s;
}

#mensagem:hover {
  background: #39011e;
  cursor: pointer !important;
}

.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); 
  justify-content: center;
  align-items: center;
}

.popup-conteudo {
  background: #fff;
  padding: 20px;
  width: 500px;
  border: 1px solid #39011e;
  box-shadow: 2px 2px #39011e;
  text-align: center;
  border-radius: 10px;
  font-family: Jersey;
  font-size: 1.5rem;
}

.popup-conteudo > p {
  padding: 10px;
  font-size: 2rem;
}

.popup-conteudo > h1 {
  color: #39011e;
}

.fechar {
  float: right;
  margin-top: -15px;
  color:#39011e;
  font-size: 2rem;
  cursor: pointer;
}

.fechar:hover {
  color:red;
}

.footer {
  text-align: center;
  font-family: Jersey;
  font-size: 1rem;
  color: #39011e;
  margin: 20px auto; 
  display: block;
}

a {
  text-decoration: none;
  color: #39011e;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

@font-face {
  font-family: Jersey;
  src: url(./font/Jersey10-Regular.ttf);
}

@keyframes fadein {
from { opacity: 0; }
to { opacity: 1; } 
}

@keyframes fadeout {
from { opacity: 1; }
to { opacity: 1; } 
}

.jumping-text {
    animation-name: jump;
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}


.jumping-text span:nth-child(1) {
    animation-delay: 0.1s;
}

.jumping-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.jumping-text span:nth-child(3) {
    animation-delay: 0.3s;
}

.jumping-text span:nth-child(4) {
    animation-delay: 0.4s;
}

.jumping-text span:nth-child(5) {
    animation-delay: 0.5s;
}

.jumping-text span:nth-child(6) {
    animation-delay: 0.6s;
}


@keyframes jump {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-15px); 
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pular {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

@media (max-width: 600px) {
  header {
  background: #fff ;
  border: 1px solid #39011e;
  box-shadow: 2px 2px #39011e;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

header > h1 {
  font-family: Jersey;
  text-align: center;
  font-size: 2.8rem;
  color: #39011e;
}
  .escolha > img {
    max-width: 150px;
  }
}